{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}SHOP{% endblock %}</title>

    <!-- CSS global -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/map.css' %}" rel="stylesheet">
    <link href="{% static 'css/dark.css' %}" rel="stylesheet">

    <!-- Puedes agregar otras hojas según la vista -->
  </head>
  <body>
    <div id="header">
      <a href="/" class="logo">
        SHOP
        <img src="{% static 'parabola_logo.png' %}" alt="Logo de Parabola"> 
      </a>
    </div>
    <div id="subheader">
      <div class="cart">
        {% with total_items=cart|length %}
          {% if total_items > 0 %}
            Tu carrito:
            <a href="{% url 'cart:cart_detail' %}">
              {{ total_items }} artículo{{ total_items|pluralize }},
              ${{ cart.get_total_price }}
            </a>
          {% elif not order %}
            Tu carrito está vacío
          {% endif %}
        {% endwith %}
      </div>
    </div>

    <div id="content">
      {% block content %}
      {% endblock %}

      <button class="location-btn" onclick="verUbicacion()">Ver ubicación de la tienda</button>
    </div>

    <script>
      function verUbicacion() {
        const lat = 28.642433;
        const lon = -106.145414;
        const url = `https://www.google.com/maps?q=${lat},${lon}`;
        window.open(url, '_blank');
      }
    </script>
  </body>
</html>
